{% extends "main.tmpl" %}
{% block body %}
<style>
  img.plot {width: 50%}
</style>
<h1>{{animal|capitalize()}}</h1>
{% for region in regions %}
<h2>{{region[1]}}</h2>
<a href="{{animal}}_{{mpc}}_{{region[0]}}.png">
<img class="prevplot" src="{{animal}}_{{mpc}}_{{region[0]}}.png" />
</a>
{% endfor %}
{% endblock %}
